# The token of the bot
BOT_TOKEN=

# The prefix of the bot (for textual commands)
BOT_PREFIX=

# The ID of the owner of the bot
BOT_OWNER=

# The ID of the bot (for slash commands)
BOT_ID=

# The mode of the bot (dev/prod/test)
BOT_MODE=

# The locale of the bot (for i18n)
BOT_LOCALE=

# The timezone of the bot (for database)
BOT_TIMEZONE=UTC

# The URL of the database
DB_PORT=
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_DATABASE=