# This is a basic workflow to help you get started with Actions

name: Dev Tests

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [master]
  pull_request:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  bun:
    if: github.repository != 'bot-ts/framework'
    name: Test on Bun v1.1.34
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.1.34

      - name: Install dependencies
        run: bun install

      - name: Start the bot
        run: bun run tests/index.test.js
